ai-cloudscraper==3.8.4
ai-urllib4==2.2.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.4
aiosignal==1.4.0
asyncio-throttle==1.0.2
attrs==26.1.0
backports.tarfile==1.2.0
brotli==1.2.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==49.0.0
cssselect==1.4.0
dotenv==0.9.9
frozenlist==1.8.0
google-auth==2.58.1
google-auth-oauthlib==1.4.1
greenlet==3.5.2
gspread==6.2.1
html2text==2025.4.15
idna==3.18
importlib_metadata==9.0.0
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.5.0
jeepney==0.9.0
jq==1.11.0
Js2Py==0.74
keyring==25.7.0
lxml==6.1.1
minidb==2.0.8
more-itertools==11.1.0
multidict==6.9.1
oauthlib==4.0.0
pdftotext==3.0.0
platformdirs==4.10.0
playwright==1.60.0
propcache==0.5.4
psutil==7.2.2
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
pycryptodome==3.24.0
pyee==13.0.1
pyjsparser==2.7.1
pyOpenSSL==26.4.0
pyparsing==3.3.2
python-dotenv==1.2.2
PyYAML==6.0.3
requests==2.34.2
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
SecretStorage==3.5.0
six==1.17.0
typing_extensions==4.15.0
tzlocal==5.4.4
urllib3==2.7.0
yarl==1.25.1
zipp==4.1.0
